<div class="container text-center mt-5 p-5 rounded" style="background-color: #203B81; color: white;">
    <h1 class="display-4">Payment Failed</h1>
    <p class="lead">Something went wrong with your payment. Please try again</p>
    <i class="fas fa-times-circle fa-5x text-warning"></i>
    <div class="mt-4">
        <a asp-action="Index">
            <button class="btn btn-light btn-lg w-50">Return to Home</button>
        </a>
    </div>
</div>
