@{
    ViewBag.Title = "Pay with QR Code";
}

<h2>Scan to Pay</h2>

@if (!string.IsNullOrEmpty(ViewBag.QRCodeUrl))
{
    <img src="@ViewBag.QRCodeUrl" alt="PayMaya QR Code">
}
else
{
    <p>Failed to generate QR code. Please try again.</p>
}