@model HomeHub.App.Models.ServiceVM

<h1>Update Service</h1>

<form asp-action="UpdateService">
    <input type="hidden" asp-for="ServiceId" />

    <div class="form-group">
        <label asp-for="ServiceItem" class="control-label">Service Item</label>
        <input asp-for="ServiceItem" class="form-control" />
        <span asp-validation-for="ServiceItem" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Details" class="control-label">Details</label>
        <input asp-for="Details" class="form-control" />
        <span asp-validation-for="Details" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fee" class="control-label">Fee</label>
        <input asp-for="Fee" class="form-control" />
        <span asp-validation-for="Fee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Available" class="control-label">Available</label>
        <input asp-for="Available" type="checkbox" class="form-check-input" />
        <span asp-validation-for="Available" class="text-danger"></span>
    </div><br />
    <div class="form-group">
        <input type="submit" value="Update Service" class="btn btn-primary" />
    </div>
</form>



