@model HomeHub.App.Models.ProductVM

<h1>Update Product</h1>

<form asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="ExistingImage" />

    <div class="form-group">
        <label asp-for="ProductItem" class="control-label">Product Item</label>
        <input asp-for="ProductItem" class="form-control" />
        <span asp-validation-for="ProductItem" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Current Product Image</label>
        <br />
        <img src="data:image/jpeg;base64,@Model.ExistingImage" alt="Current Image" width="200" />
    </div>
    <div class="form-group">
        <label asp-for="ProductImage">Change Product Image (Optional)</label>
        <input asp-for="ProductImage" type="file" class="form-control" />
        <span asp-validation-for="ProductImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Qty" class="control-label">Quantity</label>
        <input asp-for="Qty" class="form-control" />
        <span asp-validation-for="Qty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContainerType" class="control-label">Container Type</label>
        <input asp-for="ContainerType" class="form-control" />
        <span asp-validation-for="ContainerType" class="text-danger"></span>
    </div><br />
    <div class="form-group">
        <input type="submit" value="Update Product" class="btn btn-primary" />
    </div>
</form>




