@{
    ViewData["Title"] = "Choose where to order";
}
<style>


</style>


<body style="background-color:#F1F1F1">
    <div class="text-center"><h1>@ViewData["Title"]</h1></div>

    <select name="filter" id="filter">
        <option value="byName">By name</option>
        <option value="byPrice">By price</option>
        <option value="byLoc">By location</option>
    </select>

    <div class="card">
    </div>
</body>