@{
    ViewData["Title"] = "Home Page";
}
<style>
    .html {
        font-family: Arial
    }

    .row {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .card {
        background-color: #203B81;
        border-radius: 30px;
        width: 300;
        height: 270px;
        padding-top: 42px;
        padding-left: 55px;
        margin-top: 20px;
    }

    .card1 {
        background-color: #203B81;
        border-radius: 30px;
        width: 300;
        height: 300px;
        padding: 20px;
    }

    .button {
        width: 30px;
        height: 20px;
        background-color: #F1F1F1;
        color: #203B81;
        font-family: Arial;
        border-color: #F1F1F1;
    }

    button {
        background-color: #F1F1F1;
        color: #203B81;
        font-family: Arial;
        font-size: 20px;
        border-color: #F1F1F1;
        border-radius: 30px;
        height: 80px;
        width: 300px;
    }


    #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

</style>

<body style="background-color:#F1F1F1">
    <!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    -->

    <div id="snackbar"></div>

    <div>
        <h2>Welcome back</h2>
    </div>


    <div class="card">
        <div class="container">
            <h4 style="color:#F1F1F1">What do you want to do?</h4>
            <div class="row" style="color:#203B81; border-color:#F1F1F1">
                <div class="col-sm-4"><a class="nav-link" asp-action="OrderProduct"><button>Order Products</button></a></div>
                <div class="col-sm-4"><a class="nav-link" asp-action="AvailService"><button>Avail Services</button></a></div>
                <div class="col-sm-4"><a class="nav-link" asp-action="ViewOrders"><button>View Orders</button></a></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h3>Recommendations for you</h3>
            <div class="card1"></div>
        </div>
        <div class="col">
            <h3>Ongoing Promos</h3>
            <div class="card1"></div>
        </div>
    </div>



    <script>
        var snackbarMessage = '@(TempData["SnackbarMessage"] ?? "")';

        if (snackbarMessage) {
            var snackbar = document.getElementById("snackbar");
            snackbar.textContent = snackbarMessage;
            snackbar.className = "show";
            setTimeout(function () { snackbar.className = snackbar.className.replace("show", ""); }, 3000); // 3 seconds
        }
    </script>

</body>