@{
    ViewBag.Title = "Report Confirmation";
}

<h2>Your report has been submitted</h2>
<p>We are trying our best to resolve the issue.</p>

<a class="nav-link" asp-action="Index"><button>Return to Home</button></a>