@model PromoViewModel

<div class="text-center">
    <h1 class="display-4">Post a Promo</h1>
</div>

<form asp-action="CreatePromo">
    <div class="form-group">
        <label asp-for="PromoName"></label>
        <input asp-for="PromoName" class="form-control" />
        <span asp-validation-for="PromoName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PromoCode"></label>
        <input asp-for="PromoCode" class="form-control" />
        <span asp-validation-for="PromoCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PromoStart"></label>
        <input asp-for="PromoStart" class="form-control" />
        <span asp-validation-for="PromoStart" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PromoEnd"></label>
        <input asp-for="PromoEnd" class="form-control" />
        <span asp-validation-for="PromoEnd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BusinessName"></label>
        <input asp-for="BusinessName" class="form-control" />
        <span asp-validation-for="BusinessName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Promo Code</button>
</form>