@model RegisterBViewModel

@*@Html.DropDownListFor(m => m.Usertype,
    new SelectList(Enum.GetValues(typeof(Usertypes))),
    "Select Usertype")*@

<h3>Create an Account</h3>

<form asp-controller="Account" asp-action="RegisterB" method="post">

    <input asp-for="UserID" class="" hidden />
    <span asp-validation-for="UserID" class="text-danger"></span>
    <br />


      <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control"/>
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    
      <label asp-for="BusinessName"> Company Name</label>
    <input asp-for="BusinessName" class="form-control"/>
    <span asp-validation-for="BusinessName" class="text-danger"></span>
    <br />

    <label asp-for="RepresentativeName"></label>
    <input asp-for="RepresentativeName" class="form-control" />
    <span asp-validation-for="RepresentativeName" class="text-danger"></span>
    <br />



    <label asp-for="CompanyAddress">Company Address </label>
    <input asp-for="CompanyAddress"class="form-control"/> 
    <span asp-validation-for="CompanyAddress" class="text-danger"></span>
    <br />

        
      @*  <label asp-for="BusinessPermitNo">Business Permit Number</label>
       <input asp-for="BusinessPermitNo" class="form-control"/>
       <span asp-validation-for="BusinessPermitNo" class="text-danger"></span>
    <br />*@

    <label asp-for="ContactNo"></label>
    <input asp-for="ContactNo" class="form-control" />
    <span asp-validation-for="ContactNo" class="text-danger"></span>
    <br />


    <label asp-for="OfferList"></label>
    <input asp-for="OfferList" class="form-control" />
    <span asp-validation-for="OfferList" class="text-danger"></span>
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br 

  

    @*<label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <br />*@

    <label asp-for="Businesstype">Business Type</label>
    <select asp-for="Businesstype" class="form-control">
        <option value="0">Product</option>
        <option value="1">Service Provider</option>
    </select>
    <span asp-validation-for="Businesstype" class="text-danger"></span>
        <br />


    <a asp-controller="Home" asp-action="Index" class="btn btn-light">
        Back to Home Page
    </a>

    <input type="submit" class="btn btn-success" value="Create Account" />
</form>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
