

<h2>Create Your Account</h2>
<br />
<h3>Choose User type</h3>
<br />
<br />
<body style="background-color:#F1F1F1">
<a asp-controller="Account" asp-action="Register" class="btn btn-light">
        Customer
    </a>

<a asp-controller="Account" asp-action="RegisterB" class="btn btn-light">
        Business
    </a>


</body>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
