@model RegisterBVM

<h3>Register an Account</h3>

<form asp-controller="Account" asp-action="RegisterB" method="post">
    <label asp-for="Lastname"></label>
    <input asp-for="Lastname" class="form-control" />
    <span asp-validation-for="Lastname"></span>
    <br />
    <label asp-for="Firstname"></label>
    <input asp-for="Firstname" class="form-control" />
    <span asp-validation-for="Firstname"></span>
    <br />
    <label asp-for="ContactNo"></label>
    <input asp-for="ContactNo" class="form-control" />
    <span asp-validation-for="ContactNo"></span>
    <br />
     <label asp-for="BusinessName"></label>
    <input asp-for="BusinessName" class="form-control" />
    <span asp-validation-for="BusinessName"></span>
    <br />
    <label asp-for="BusinessType"></label> 
    <select asp-for="BusinessType" name="BusinessType" id="BusinessType">
        <option value="true">Product</option>
        <option value="false">Service</option>
    </select>
     @* <input asp-for="BusinessType" class="form-control" />  *@
    <span asp-validation-for="BusinessType"></span> 
    <br />
    <label asp-for="Category"></label>
    <input asp-for="Category" class="form-control" />
    <span asp-validation-for="Category"></span>
    <br />
    <label asp-for="BusinessAddress"></label>
    <input asp-for="BusinessAddress" class="form-control" />
    <span asp-validation-for="BusinessAddress"></span>
    <br />
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password"></span>
    <br />
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-light">
        Back to Home Page
    </a>

    <input type="submit" class="btn btn-success" value="Register" />

</form>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
