<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="AdminDashboard">HomeHub</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminUsers">Admins</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminHome">Users</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Admin" asp-action="UserProfile">Profile</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Admin" asp-action="UsersForVerification">Verify New Users</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Admin" asp-action="UsersUnderReview">Review Users</a></li>
            </ul>
        </div>
        <partial name="_LoginPartial" />
    </div>
</nav>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
