

@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <span class="dropdown-toggle" typeof="button" id="dropdownMenuUser"
            data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.Name
        </span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser">
            <li>
                <form asp-controller="Account" asp-action="signOut" method="post">
                    <input type="submit" class="dropdown-item" value="Sign-Out" />

                </form>

            </li>
        </ul>
    </div>
}
else
{

    <div class="dropdown">
        <span class="dropdown-toggle" typeof="button" id="dropdownMenuUser"
              data-bs-toggle="dropdown" aria-expanded="false">
            Account
        </span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser">
            <li>
                <a  class="dropdown-item" asp-controller="Account" asp-action="SignIn">
                    Login
                </a>

            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Selection">
                    Register
                </a>

            </li>
        </ul>
    </div>

}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
