<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HomeHub.App</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Provider" asp-action="ProviderHome">Provider Home</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Provider" asp-action="ShowNotifications">Notifications</a></li>
            </ul>
        </div>
        <partial name="_LoginPartial" />
    </div>
</nav>